.header {
    width: 100%;
    border-bottom: 2px solid rgb(220, 220, 220);
    position: fixed;
    z-index: 2;
    background: white;
}

.navi {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 3.3rem;
    width: 100%;
    border-bottom: 2px solid rgb(220, 220, 238);
    z-index: 1;
    background: white;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    top: 9rem;
}

.item {
    text-align: center;
    width: 6rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: table-cell;
    text-decoration: none;
    font-size: 1.1rem;
    font-family: 'Malgun Gothic';
    color: black;
    font-weight: bold;
}

.item.active {
    color: #35C5F0;
    border-bottom: 3px solid #35C5F0;
    z-index: 3;
}

.item:hover {
    color: #35C5F0;
}

.card {
    display: inline-flex;
    position: relative;
    width: 20rem;
    height: 20rem;
    margin: 1rem;
    overflow: hidden;
}

.card-with-info {
    display: inline-flex;
    position: relative;
    width: 20rem;
    height: 27rem;
    margin: 1rem;
    overflow: hidden;
}

.cardImg {
    position: absolute;
    top: auto; left: 0; right: 0; bottom: auto; max-height: 20rem; width: auto;
}

.cardImg:hover {
    opacity: 0.5;
}

.type {
    position: absolute;
    bottom: 5px;
    left: 8px;
    font-family: 'Malgun Gothic';
    background: rgba(50, 50, 50, 0.5);
    color: white;
    padding: 5px;
    font-size: small;
    border-radius: 3px;
}

.icon {
    position: absolute;
    top: 16.5rem;
    right: 5px;
    padding: 5px;
}

.modal {
    position: fixed;
    max-height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    z-index: 10;
    padding: 15px;
    border-radius: 3px;
}

.modalBackground {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(30, 30, 30, 0.8);
    z-index: 9;
}

.toastBody {
    color: gray;
    text-align: center;
}

.undo {
    color: #35C5F0;
    display: inline;
    margin-left: 2rem;
    padding: 5px;
}

.undo:hover {
    background: rgb(230, 230, 230);
}

.info {
    position: absolute;
    top: 20rem;
    padding: 5px;
}

.brand {
    color: rgb(150, 150, 150);
    font-size: small;
    list-style: none;
    margin-bottom: 5px;
}

.name {
    font-size: small;
    list-style: none;
    margin-bottom: 8px;
}

.selling_cost {
    font-size: medium;
    list-style: none;
}

.cost {
    font-size: small;
    color: rgb(190, 190, 190);
}

.rate {
    font-size: large;
    color: #35C5F0;
}

